<mat-toolbar color="primary" class="stickytoolbar">
    <div class="toolbar" [routerLink]="['/list']"><a>Select A Chat</a></div>
    <div class="toolbar" [routerLink]="['/profile']"><a>Profile</a></div>
</mat-toolbar>

<div class="deliverTo"><h2>Chat with :</h2><h2 *ngFor="let user of this.current?.deliverto; let i = index" [ngStyle]="{'color': this.userHex[i]}" [ngClass]="this.currentUser === user ? 'hide' : 'show'">{{user}}</h2></div>


<div class="secondary">

    <div class="messages">
        <ng-container *ngFor="let gif of this.current.conversationdata">
            <div class="messagefield" [ngClass]="gif.toOrfrom === this.currentUser ? 'to' : 'from'"><h6 [ngStyle]="{'color' : gif.hex}">{{gif.date | date:'yyyy-MM-dd HH:mm:ss' }}</h6><img src="{{gif.url}}" alt="{{searchterm}}" class="gif"></div>
        </ng-container>
        <div class="spacer"></div>
    </div>
</div>

<div class="fixed wrapper">
    <mat-card class="whitecard">
        <form (ngSubmit)="submit()" #empForm="ngForm">
                <mat-form-field>
                    <input class="chatinput" matInput name="firstName" [(ngModel)]="input" />
                </mat-form-field>
            <button mat-raised-button color="primary" class="submit" >Send</button>
        </form>
    </mat-card>
</div>