<mat-dialog-content>
    <p>Enter the name of your new chat.</p>
    <mat-form-field>
        <input matInput required [(ngModel)]="data.chatName">
    </mat-form-field>

    <p>Select a user to chat with.</p>
    <mat-form-field>
        <mat-select>
            <mat-option *ngFor="let user of uList"
                        [value]="user.uid"
                        (onSelectionChange)="getMember($event)">{{ user.displayName }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>


<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data">Ok</button>
</div>
