<mat-dialog-content>
    <p>Enter the name of your new chat.</p>
    <mat-form-field>
        <input matInput required [(ngModel)]="data.chatName">
    </mat-form-field>
    <p>Select a user to chat with</p>
    <mat-form-field>
        <mat-select [(ngModel)]="selectedOption">
            <mat-option *ngFor="let user of uList"
                        [(value)]="user"
                        (onSelectionChange)="selected(user)"
                        ngDefaultControl>{{ user }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>


<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.chatName">Ok</button>
</div>
