.toolbar {
    margin:0px;
    margin-right: 20px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.toolbar:focus {
    outline:none;
}
.toolbar:hover {
     cursor: pointer;
 }
.wrapper {
    padding: 20px;
}

.noContent {
    padding: 20px;
}

.buttons {
    display: flex;
}

.addDelete {
    margin: 5px;
}
.chatCard{
    padding: 20px;
    margin-top: 50px;
    margin-left:100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.chatCard p {
    padding: 5px;
    margin: 0;
}

.conversation {
    margin-left:5px;
    margin-top:20px;
}

.trash {
    font-size: 20px;
    margin-right: 20px;
}

.conversation-card {
    display: flex;
    align-items: center;
}
