<mat-toolbar color="primary" class="stickytoolbar">
  <div class="toolbar" [routerLink]="['/login']"><a>Switch Accounts</a></div>
  <div class="toolbar" [routerLink]="['/list']"><a>Select A Chat</a></div>
  <div class="toolbar" [routerLink]="['/profile']"><a>Profile</a></div>
</mat-toolbar>


<div class="wrapper">
  <div class="buttons">
    <button mat-raised-button class="addDelete" (click)="addChat()">Add a new chat</button>
    <button mat-raised-button
            (click)="setToggleTrue()"
            class="addDelete"
            *ngIf="deleteToggle === false">Delete a Chat
    </button>
    <button mat-raised-button *ngIf="deleteToggle" class="addDelete" (click)="unDelete()">Done</button>
  </div>
  <!--@ts-ignore-->
  <div *ngIf="ab?.currentUserInfo.conversationIds?.length === 0">
    <h4 class="noContent">You don't have any chats. Click 'Add a new chat' to get started!</h4>
  </div>
  
  <div *ngFor="let index of this.ab?.currentUserInfo.conversationIds; let i = index">
    <mat-card (click)="deleteToggle ? deleteConversation(this.ab?.currentUserInfo.conversationIds[i], i) : this.ab.setCurrentConversationId(this.ab?.currentUserInfo.conversationIds[i])" class="card">

      <div class="conversation-card">
        <div class="trash" *ngIf="deleteToggle">
          <mat-icon>delete</mat-icon>
        </div>
        <div>
          <mat-card-title>{{ab?.pastChats[i]?.conversation.title}}</mat-card-title>
          <mat-card-subtitle>{{ab?.pastChats[i]?.conversation.admin}}</mat-card-subtitle>
        </div>
      </div>
    </mat-card>
  </div>
</div>
