.toolbar {
    margin:0px;
    margin-right: 20px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.toolbar:focus {
    outline:none;
}
.toolbar:hover{
    cursor: pointer;
}

.profile {
    width: 30%;
    justify-content: center;
    height: 400px;
    margin: 50px auto;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

#button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}