<mat-toolbar color="primary" class="stickytoolbar">
  <div class="toolbar" [routerLink]="['/login']"><a>Switch Accounts</a></div>
  <div class="toolbar" [routerLink]="['/list']"><a>Select A Chat</a></div>
  <div class="toolbar" [routerLink]="['/profile']"><a>Profile</a></div>
</mat-toolbar>

<mat-card class="profile" *ngIf="person">
  <mat-card-header>
    <mat-card-title>Current user: {{person.displayName}}</mat-card-title>
    <mat-card-subtitle>{{person.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <div>
      <img [src]="person.photoURL">
    </div>
  </mat-card-content>
  <div id="button-container">
    <button mat-raised-button color="primary" (click)="logOut()">Sign Out</button>
  </div>
</mat-card>
